body{
    display: flex;
    background: #cccccc;
    padding: 40px 90px;
    margin: 0;
    flex-wrap: wrap;
}

header, main, footer, aside{
    background: white;
    padding: 18px 22px;
    box-shadow: 1px 1px 1px 1px;
    margin: 10px;
    border-radius: 6px;
}

header{
    flex-basis: 100%;
    flex-grow: 1;
    padding-bottom: 60px;
}

main{
    flex-basis: 70%;
    padding-bottom: 250px;
}

aside{
    flex-basis: 19%;
    padding-bottom: 250px;
}

footer{
    flex-basis: 100%;
    padding-bottom: 60px;
}